// Bootstrap brand color customization


/*     brand Colors              */

$brand-primary:              $blue-500 !default;
$brand-info:                 $blue-500 !default;
$brand-success:              $blue-500 !default;
$brand-warning:              $blue-500 !default;
$brand-danger:               $blue-500 !default;
$brand-rose:                 $blue-500 !default;
$brand-inverse:              $blue-500 !default;
