<div class="container-fluid pt-3">
  <div class="panel panel-success" *ngFor="let p of projects">
    <div *ngIf="p.statut != 'started'">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3">
            <h2 class="text-center" style="padding-left: 30px ; font-weight:bold ; font-size: 20px ; color: black">
              <span class="glyphicon glyphicon-list-alt">
              </span> {{p.titre_project}} </h2>
          </div>
        </div>
      </div>

      <div class="panel-body table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center"> Name </th>
              <th class="text-center"> Mobile No. </th>
              <th class="text-center"> Github </th>
              <th class="text-center"> Portfolio </th>
              <th class="text-center"> ok/not </th>
            </tr>
          </thead>

          <tbody>
            <tr class="edit" *ngFor="let applied_freelancer of p.applied_freelancers">
              <td class="text-center"> {{applied_freelancer.first_name}} </td>
              <td class="text-center"> {{applied_freelancer.phone_Number}} </td>
              <td class="text-center"> {{applied_freelancer.github}} </td>
              <td class="text-center"><a target="_blanc" href="http://localhost:3000/users/image/{{applied_freelancer.portfolio}}">RESUME</a>

                </td>
              <td class="text-center"> <a class="btn-primary btn" style="color: #ffff"
                  (click)="accept(p._id, applied_freelancer._id)"> <i class="fas fa-check"></i> </a>
                <a class="btn-primary btn" style="color: #ffff" (click)="cancel(applied_freelancer._id,p._id)"> x </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


