<div class="container" >
  <div class="row bloc" *ngFor="let p of projects " style="width: 100%;">
    <div *ngIf=" p.statut != 'started' ">
     <div class="col-4">{{p.titre_project}}</div>
     <div class="col-8">
      <div class="row free" *ngFor="let applied_freelancer of p.applied_freelancers" >
     <div class="col-6"> {{applied_freelancer.first_name}}</div>
     <div class="col-6" > <a class="btn-primary btn" style="color: #ffff" (click)="accept(p._id, applied_freelancer._id)"><i class="fas fa-check"></i></a></div>
    </div>
    </div>
    </div>
  </div>
</div>




