<div class="card card-about">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <img src="../../assets/img/logo.jpg" class="logo"><br>
        <a style="color:#2196f3;font-size: 40px;font-weight:bold">HOW IT WORKS ?</a><br>
      </div>
    </div>
    <div class="row" style="padding: 2%;">

      <p>Our site putting in contact the Freelances and company.</p>

      <p>Our goal is to attract companies to post their projects and find the Freelances that suit them. We select the
        real fake ads.
        Freelance will have a wide range of projects.</p>

      <p>We structure and secure the relationship between companies and the self-employed.</p>
    </div>
    <div class="row" style="padding: 2%;">
      <h3 style="color:#2196f3;font-size: 20px;font-weight:bold">Company</h3>
      <p>

        Applying for freelance has several advantages for a company. The first is flexibility: a freelancer will often
        be available over relatively long time slots, as long as he works for a defined mission and precise, with a
        duration set in advance (or several missions in the case of a client recurrent). In fact, an independent worker
        will be totally dedicated to the mission that is asked of him. This brings us to the second advantage, namely
        speed. Since the work is one shot, the delivery of the requested work is fast. Applying to freelance also allows
        you to benefit from expertise and skills in a specific area, and thus ensure quality work. Indeed, because of
        the strong competitiveness between freelance, where we must constantly stand out, freelancers must be
        professional in order to keep a good contact with their client and therefore make a point of honor to satisfy.
        Last but not least, a freelancer from a point of view of someone outside the company can bring you a different
        perspective on your project. This can allow you to take a step back from your work and bring a new look that is
        not negligible to boost creativity and innovation in your business.
      </p>
    </div>
    <div class="row" style="padding: 2%;">
      <h3 style="color:#2196f3;font-size: 20px;font-weight:bold">Freelancer</h3>
      <p>

        A freelancer is a self-employed person who can be remunerated for one or more missions. A freelancer is his own
        boss: with him, no intermediary, we work live. Unlike an employee, he does not sign a work contract with the
        company (or a quotation), and the collaboration between the two parties lasts only the time of a project,
        generally, several days or even weeks at more. Remuneration issue, the payment is done through a system of
        invoices, which the freelance addresses to the customer. He can then choose to charge at the hourly rate, the
        daily rate, or even following a package per mission, depending on what best suits the nature of the project.
     
      </p>
    </div>

  </div>
</div>