<div class="card card-about">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <img src="../../assets/img/logo.jpg" class="logo"><br>
        <a style="font-weight:bold">HOW IT WORKS ?</a><br>
      </div>
    </div>
    <div class="row" style="padding: 5%;">

      <p>Our site putting in contact the Freelances and company.</p>

      <p>Our goal is to attract companies to post their projects and find the Freelances that suit them. We select the
        real fake ads.
        Freelance will have a wide range of projects.</p>

       <p>We structure and secure the relationship between companies and the self-employed.</p> 
    </div>
    <div class="row" style="padding: 5%;">
      <h3>company</h3>
    </div>

    <div class="row" style="padding: 5%;">
      <h3>Freelancer</h3>
    </div>

  </div>
</div>