<div class="container" style="margin-top: 5%;">
    <div class="row">
      <div class="col-sm-8">
          <!-- *ngIf="show_company" -->
        <div class="card" style="padding: 20px;width: 100%;">
          <div>
            <a style="font-weight:bold ; font-size: 30px;color: #1cb3e5">Company</a>
            <b>,Update YOUR ACCOUNT</b>
          </div>
          <form [formGroup]="companyForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="NameCompany" class="col-form-label">NameCompany</label>
                <input type="text" class="form-control" formControlName="nameCompany">
              </div>
              <div class="form-group col-md-6">
                <label for="foundyear" class="col-form-label">foundyear</label>
                <input type="text" class="form-control" formControlName="foundyear">
              </div>
            </div>
            <div class="form-group">
              <label for="address" class="col-form-label">Address</label>
              <input type="text" class="form-control" formControlName="address">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" formControlName="Email">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Password</label>
                <input type="password" class="form-control" formControlName="Pword">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="facebook">Facebook</label>
                <input type="text" class="form-control" formControlName="facebook">
              </div>
              <div class="form-group col-md-6">
                <label for="Website">Website</label>
                <input type="text" class="form-control" formControlName="webSite">
              </div>
            </div>
            <div class="form-group">
              <label for="Description-Company" class="col-form-label">Description Company</label>
              <textarea type="text" class="form-control" formControlName="DescriptionCompany"></textarea> </div>
            <div class="form-row">
              <div class="col-md-6">
                <label for="logo">Logo</label>
  
                <input type="file" name="logo" (change)="selectedFile($event);readURL($event);">
                <img src="localhost:3000/user/image/{{company.logo}}">
              </div>
  
              <div class="form-group col-md-6">
                <label for="phonenumber" class="col-form-label">Phonenumber</label>
                <input type="text" class="form-control" formControlName="phoneNumber">
              </div>
            </div>
          </form>
          <div class="col text-center">
            <button type="button" (click)=signupCompany() class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <img src="localhost:3000/user/image/{{company.logo}}"> -->
