<h1 style="text-align: center;color: #1cb3e5;font-weight:bold ; font-size: 40px;">Details</h1>
<!-- 
<div class="container">
  <div class="row">
    <div class="col-sm-4" style="margin-left: 20%">
      <h3 style="text-align: center">Project</h3>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../assets/img/project-management-6.jpg" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>{{project.titre_project}}</h1>
            <p>{{project.description_project}}</p>
            <p>{{project.duration}} DAY</p>
            <p>{{project.max_offer}}</p>
            <p>{{project.min_offer}}</p>
            <button (click)=affectProject()>Apply</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h3 style="text-align: center">Company</h3>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="http://localhost:3000/users/image/{{project.company.logo}}" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>{{project.company.nameCompany}}</h1>
            <p>{{project.company.phoneNumber}}</p>
            <p>{{project.company.address}}</p>
            <p>{{project.company.webSite}}</p>
            <p>{{project.company.facebook}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container login-container">
  <div class="row">
      <div class="col-md-6 login-form-1">
          <h3>Login for Form 1</h3>
          <form>
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Your Email *" value="" />
              </div>
              <div class="form-group">
                  <input type="password" class="form-control" placeholder="Your Password *" value="" />
              </div>
              <div class="form-group">
                  <input type="submit" class="btnSubmit" value="Login" />
              </div>
              <div class="form-group">
                  <a href="#" class="ForgetPwd">Forget Password?</a>
              </div>
          </form>
      </div>
      <div class="col-md-6 login-form-2">
          <h3>Login for Form 2</h3>
          <form>
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Your Email *" value="" />
              </div>
              <div class="form-group">
                  <input type="password" class="form-control" placeholder="Your Password *" value="" />
              </div>
              <div class="form-group">
                  <input type="submit" class="btnSubmit" value="Login" />
              </div>
              <div class="form-group">

                  <a href="#" class="ForgetPwd" value="Login">Forget Password?</a>
              </div>
          </form>
      </div>
  </div>
</div>

<div class="container" style="height: 200px"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <p class="comment"> Comment & question: </p>
    </div>
    <div class="col-sm-6">
      <textarea style="width: 100%;" [(ngModel)]="commentaire"></textarea>
    </div>
    <div class="col-sm-2">
      <span class="btn btn-primary" (click)="addComment()"><i class="fas fa-comment"
          style="color:white;font-size: 20px;"></i></span>
      <span class="btn btn-primary" (click)="CancelComment()"><i class="fas fa-comment-slash"
          style="color:white;font-size: 18px;"></i></span>
    </div>
  </div>
  <div class="row" style="height: 100px"></div>
  <div class="row">
    <div class="col-sm-12">
      <div *ngFor="let comment of comments">
        <img src="http://localhost:3000/users/image/{{comment.photo_commenter}}" class="rounded-circle z-depth-0"
          alt="avatar image" height="50">&nbsp;&nbsp;
        <a style="font-weight:bold ; font-size: 20px;">{{comment.commenter}} : </a>&nbsp;&nbsp;{{comment.comment}}
        <span *ngIf="comment.id_commenter == id_freelancer">
          <a class="btn btn-primary" (click)="delComment(comment._id)" style="margin-left: 10%"> <i
              class="fas fa-trash-alt" style="color:white;font-size: 20px;"></i></a>
          <!-- <button type="button" (click)="editComment()">edi</button> -->
        </span>
      </div>
    </div>
  </div>
</div>