<!-- <div class="card">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <a>Title:</a>
      </div>
      <div class="col-sm-6">
        {{projects.titre_project}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <a>Description:</a>
      </div>
      <div class="col-sm-6">
        {{projects.description_project}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <a>Duration:</a>
      </div>
      <div class="col-sm-6">
        {{projects.durations}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <a>statut:</a>
      </div>
      <div class="col-sm-6">
        {{projects.statut}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <a>Max_offer:</a>
      </div>
      <div class="col-sm-6">
        {{projects.max_offer}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <a>Min_offer:</a>
      </div>
      <div class="col-sm-6">
       {{projects.min_offer}}
      </div>
  </div>
    <div *ngFor="let skill of projects.skills" class="row">
     <div class="col-sm-6"> <a>skills:</a></div>
      <div class="col-sm-6"> {{skill.skill}}</div>
    </div>
  </div>
</div> -->


<div class='healthy-snacks' style="margin-top: 10%">
    <article>
      <header>
        <h3><span>{{projects.titre_project}}</span></h3>
      </header>
      <div class='excerpt'>
        <a style="font-weight:bold ; font-size: 15px ; color: black">Description</a>:{{projects.description_project}}<br>
        <a style="font-weight:bold ; font-size: 15px ; color: black">Statut</a>:{{projects.statut}}<br>
        <a style="font-weight:bold ; font-size: 15px ; color: black">Max_offer</a>:{{projects.max_offer}}<br>
        <a style="font-weight:bold ; font-size: 15px ; color: black">Max_offer</a>:{{projects.min_offer}}<br>
        <a style="font-weight:bold ; font-size: 15px ; color: black">Duration</a>:{{projects.durations}}<br>
        <a style="font-weight:bold ; font-size: 15px ; color: black">skill</a> :
        <div *ngFor="let skill of projects.skills">
             <div>{{skill.skill}}</div>
        </div>
      </div>
    </article>
</div>
