<main role="main" class="mt-5">
  <section class="jumbotron text-center" style="background-image: url(./../../assets/img/code555.jpg);background-repeat: no-repeat;
    background-size: 100%;">
    <div class="container">
      <h1 class="jumbotron-heading" style="color:#2196f3">Freelancer</h1>
      <div class="lead text-muted">
      <p>  I have made the choice of independence to be as free as possible in the way of managing my business.
        Acceptingor refusing a particular project, managing my time and limiting my daily travel were stronger motivations than
        the financial guarantee and the safety nets offered as part of a permanent contract.
      </p>
    </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let project of accepted">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <div class="thumb" id="one">
              <img class="lib-img-show" style="width: 100%"  src="http://localhost:3000/users/image/{{project.company.logo}}">
            </div>
            <h3 style="text-align: center;color: #1cb3e5;font-weight:bold ; font-size: 20px;">{{project.titre_project}}</h3>
            <hr />
            <p class="desc">
              <a style="font-weight:bold ; font-size: 15px ; color: black">Description</a> : {{project.description_project}}<br>
              <a style="font-weight:bold ; font-size: 15px ; color: black">Max_offer</a> : {{project.max_offer}}<br>
              <a style="font-weight:bold ; font-size: 15px ; color: black">Min_offer</a> : {{project.min_offer}}<br>
              <a style="font-weight:bold ; font-size: 15px ; color: black">Duration</a> : {{project.duration}}DAYS
            </p>
            <hr />
            <div style="text-align: center;">
              <button type="button" class="btn btn-primary" routerLink="/freelancer/{{project._id}}">details</button>
              <!-- <span  class="btn btn-primary">
                <i class="fas fa-headset" style="color:white;font-size: 20px;"></i>
            </span> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
