<main role="main" class="mt-5">
    <section class="jumbotron text-center" style="background-image: url(./../../assets/img/code555.jpg);background-repeat: no-repeat;
    background-size: 100%;">
      <div class="container">
        <h1 class="jumbotron-heading">Album example</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc.
          Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </section>
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <!--  -->
          <div class="col-md-4" *ngFor="let project of allProjects">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <i><img src="http://localhost:3000/users/image/{{project.company.logo}}" style="margin-left:33%;" width="100"
                    alt="Cinque Terre"></i>
                <h6 style="font-weight:bold ; font-size: 20px;color: #1cb3e5;text-align: center">
                  {{project.titre_project}}</h6>
                <p class="card-text">
                  {{project.description_project}}</p>
                <p class="text-muted">
                  {{project.duration}}DAYS</p>
                <button type="button" class="btn btn-primary" style="margin-left: 70% !important;"
                routerLink="/freelancer/{{project._id}}">details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>